<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аналитика и исследования</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Избирательная система России</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/history">История цифровизации</a></li>
                <li><a href="/current-tech">Текущие технологии</a></li>
                <li><a href="/pros-cons">Преимущества и недостатки</a></li>
                <li><a href="/analytics">Аналитика и исследования</a></li>
                <li><a href="/news">Новости</a></li>
                <li><a href="/forum">Форум</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="analytics">
            <h2>Аналитика и исследования</h2>
            <p>Здесь представлены исследования и аналитические материалы по цифровизации избирательного процесса в России.</p>
            <ul>
                <li><a href="https://mikrf.ru/news/1807/distantsionnoe-elektronnoe-golosovanie-budushchee-v-nastoyashchem">Исследование 1: "Будущее цифровых выборов в России".</a></li>
                <li><a href="https://cyberleninka.ru/article/n/oy-bezopaprimenenie-innovatsionnyh-sistem-i-tehnologiy-dlya-obespecheniya-informatsionnsnosti-pri-provedenii-vyborov-i-referendumov">Исследование 2: "Технологии безопасности в избирательных системах".</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Избирательная система России. Все права защищены.</p>
    </footer>
</body>
</html>
